@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

@layer components {
    .blue_gradient {
        @apply bg-gradient-to-l from-blue-400 to-blue-500;
    }

    .white_grey_gradient{
        @apply bg-gradient-to-r from-grey_light to-grey_medium;
    }

    .blue_gradient-2 {
        @apply bg-gradient-to-tr from-blue-500 to-blue-400;
    }

    .blue_gradient-header {
        @apply bg-gradient-to-l from-blue-400 to-blue-500 md:bg-none;
    }

    .subtitles-p {
        @apply font-medium text-xl leading-3 font-sans;
    }

    .subtitles-span {
        @apply font-semibold text-xl leading-3 font-sans;
    }

    /*Header*/

    .menu {
        @apply transition-all duration-300 absolute blue_gradient-header rounded-2xl p-5 md:flex md:static md:gap-[14rem];
    }

    .menu-active {
        @apply transform translate-y-32 right-2 sm:right-9 md:translate-y-0;
    }

    .menu-inactive {
        @apply transform -translate-y-96 right-6 md:translate-y-0;
    }

    /*Settings*/
    .settings-options-white {
        @apply flex justify-between items-center px-6 py-[18px] text-soft_blue rounded-3xl shadow-md text-normal;
    }

    .settings-options-blue{
        @apply flex justify-between blue_gradient items-center px-6 py-[18px] text-white rounded-3xl shadow-md text-normal;
    }
    
    .select-placeholder {
        font-weight: 700 !important;
      }
}

.bgalertbutton{
    padding-right: 9rem;
    padding-left: 9rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: linear-gradient(180deg, #49A0F9 0%, #1277DD 100%), #FFF ;
    border-radius: 22px;
    border: none;
    color: white;
}




